.hometitle {
    line-height: 200 px;
    top: 230 px;

}

h2 {
    text-align: left;
}

.founder {
    color: #98C7FF;
    text-align: right;
}

#careers i {
    font-style: normal;
    color: #49f6cd;
}

#careers h4 {
    font-size: 26px;
    font-family: sans-serif;
}

#about .container {
    background-image: url(../images/about_bg.svg);
     background-position: center;
    background-repeat: no-repeat;
}

#careers .container {
    background-image: url(../images/carrers_bg.svg);
    background-position: top center;
    background-repeat: no-repeat;


}

#careers p {
    font-size: 18px;
    text-align: left;
    display: inline-block;
    margin-left: auto;
    margin-left: auto;
    margin-bottom: 100px;

}

@media (max-width: 767.98px) {
    #careers p {
        font-size: 18px;
        letter-spacing: 0px;
        margin-bottom: 40px;  
    }
        .footerbox{
            text-align: center;
    }
}

#contact {
    padding-bottom: 60px;
    padding-top: 80px;
}

#project {
    padding-bottom: 100px;
    padding-top: 40px;
}

.modalbox img {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
.modalbox h2 {
    font-family: 'PingFangTC-Medium' ,'PingFangTC', 'Microsoft JhengHei', 'Roboto', "Helvetica Neue", Arial, sans-serif, ;
    line-height: 40px;
    text-align: center;
}
.modalbox h6 {
    font-family: 'PingFangTC', 'Microsoft JhengHei', 'Roboto', "Helvetica Neue";
    font-weight: 100px;
    line-height: 20px;
    text-align:center;

}


@media (max-width: 767.98px) {
    #contact img{
        width: 65%;
    

}
  

    .modalbox h2 {
        font-size: 28px;
        letter-spacing: 0px;

    }
     .modalbox h5 {
        font-size: 20px;
         letter-spacing: 0px;
        

    }

    .modalbox .headers {
        margin-bottom: 20px;

    }
     .modalbox .btn-primary3  {
         margin-top: 50px;
         display: block;
        margin-left: auto;
        margin-right: auto;

    }

}
