.hometitle{
    line-height:200 px;
    top:230 px; 
    
}

h2{
    text-align:left; 
}
.founder{
    color: #98C7FF;
    text-align: right;
}

#careers i{
        font-style: normal;
        color: #49f6cd;
}